<section class="about-me">
  <div class="about-content">
    <h2 class="section-title">
      <span>01.</span> About Me
    </h2>
    
    <div class="content-wrapper">
      <div class="text-content">
        <p>
          Hello! My name is <span class="highlight">Ilyes Chrif</span>, and I am a 
          <span class="highlight">Software Engineer</span> based in <span class="highlight">Tunisia.</span><br> I created this 
          portfolio to showcase my work and achievements, as I prefer a 
          <span class="highlight">personal platform</span> over traditional networking sites 
          to highlight my journey.
        </p>
        
        <p>
          The story behind this portfolio reflects my pursuit of 
          <span class="highlight">new opportunities</span>, despite my diverse experiences. 
          I aim to document every detail of my professional growth and skill enhancements, 
          turning <span class="highlight">challenges</span> into a narrative of 
          <span class="highlight">progress</span> and <span class="highlight">dedication</span>.
        </p>

        <p>
          Here are a few technologies I've been working with recently:
        </p>
        
        <ul class="skills-list">
          <li>Angular</li>
          <li>React.js</li>
          <li>Javascript</li>
          <li>Java</li>
          <li>PostgreSQL</li>
          <li>MySQL</li>
          <li>PHP</li>
        </ul>
      </div>

      <div class="image-wrapper">
        <div class="image-container">
          <img src="profile.jpg" alt="Ilyes Chrif">
        </div>
      </div>
    </div>
  </div>
</section>