<section class="hero">
  <div class="intro-text">
    <p class="greeting">Hi, my name is</p>
    <h1 class="name">{{ name() }}</h1>
    <h2 class="title">{{ title() }}</h2>

    <div class="description">
      <p>
        This portfolio is crafted with brilliant ideas, overcoming numerous 
        <span class="highlight">challenges</span> during its development. I decided 
        it was a great opportunity to document each hurdle and share it via my 
        <span class="highlight">portfolio</span>, alongside some innovative thoughts 
        as a developer based in <span class="highlight">Tunisia</span>.
      </p>
    </div>

    <a href="cv.pdf" download class="download-cv">
      <span>Download CV</span>
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="24" 
        height="24" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke="currentColor" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round"
      >
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
        <polyline points="7 10 12 15 17 10"></polyline>
        <line x1="12" y1="15" x2="12" y2="3"></line>
      </svg>
    </a>
  </div>

</section>
