:host {
  --accent-color: #64ffda;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: flex-start;
  padding: 120px 120px 0;
}

.intro-text {
  max-width: 1400px;
  margin-left: 50px;
  margin-top: 80px;
}

.greeting {
  color: var(--accent-color);
  font-family: var(--font-jetbrainsMono);
  font-size: 22px;
  margin-bottom: 20px;
}

.name {
  color: #ccd6f6;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 10px;
}

.title {
  color: #8892b0;
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  color: #8892b0;
  font-size: 20px;
  max-width: 1200px;
  line-height: 1.7;
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.description p {
  flex: 1;
  min-width: 500px;
}

.highlight {
  color: var(--accent-color);
  font-weight: 500;
}